#score {
  margin-bottom: 6rem;
  background: #5764c6;
  border-radius: 50%;
  color: rgba(255, 255, 255, .85);
  font-weight: 300;
  line-height: 1;
  position: relative;
  vertical-align: middle;
  height: 270px;
  width: 270px;
}

#score-content {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

#score-content-value {
  font-size: 15rem;
}

#score-content-percentage {
  font-size: 3rem;
  margin-top: 1rem;
}

@media (min-width: 400px) {
  #score {
    height: 350px;
    width: 350px;
  }
  #score-content-value {
    font-size: 20rem;
  }
  #score-content-percentage {
    font-size: 3rem;
    margin-top: 1rem;
  }
}

@media (min-width: 480px) {
  #score {
    height: 400px;
    width: 400px;
  }
  #score-content-value {
    font-size: 22rem;
  }
  #score-content-percentage {
    font-size: 4rem;
    margin-top: 1rem;
  }
}

/* A responsive circle implementation! */
/*
@media (min-width: 768px) {
  .circle__content {
    font-size: 4em;
  }
}

.circle {
  position: relative;
  display: block;
  margin: 2em 1em;
  background-color: transparent;
  color: rgba(255, 255, 255, .85);
  text-align: center;
}

.circle:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #5764c6;
  content: "";
}

.circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.circle__content {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}
*/
