html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  font-family: Lato, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  min-height: 100%;
  padding-bottom: 15rem;
  position: relative;
}


/**
 * helpers
 */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.mt-20 {
  margin-top: 2rem;
}

.mt-30 {
  margin-top: 3rem;
}

.bg-gray {
  background: #f8f9fa;
  color: #667189;
  padding: 1rem;
}


/**
 * App specific
 */

.app-title {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

p.info {
  margin-bottom: 3rem;
}
